@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f9fafb; /* slate-50 */
  -webkit-font-smoothing: antialiased;
}

* {
  border-color: #1e293b; /* slate-800 */
}
